@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

html{
    font-family: "Anton", sans-serif;
    font-size: 12px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #ff0000e7;         /* Text Color for about us description */
    background: rgb(225, 225, 225); /* whole page background */
}

a{
    color: rgb(101, 255, 255);
    text-decoration: none;

    /* color for footer section */
}

a:hover{
    color: rgba(14, 18, 249, 0.89);
    /* color for footer section when mouse interact */
}

ul{
    list-style: none;
}

p{
    font-size: 1.4rem;
}

img{
    width: 100%;
    max-width: 100%;
}

section{
    padding: 5rem 0;
}

header{
    width: 100%;
    position: absolute;
    z-index: 1;
}

.topnav{
    background-color: rgb(208, 255, 0);
    overflow: hidden;
}

.topnav a{
    float: left;
    color: #ff0000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(238, 255, 0);
}

.container{
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
}

nav{
    width: 110%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(226, 175, 175, 0.2);
}

.nav-pic{
    width: 7rem;
}

.nav-pic a img{
    border-radius: 50%;
}

.landing-page{
    width: 100%;
    height: 100vh;
    background-image: url("images/AyamGunting.png");
    background-size:cover;
}

.main-message{
    width: 100%;
    max-width: 58rem;
    color: #ff0000;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main-message h1{
    letter-spacing: 1.2rem;
    font-size: 5rem;
    font-weight: 400;
    overflow: hidden;
    animation: typing 5s steps(27), blink 1s ease-in-out 8s infinite;
    text-shadow: 0 0 10px #000000, 0 0 10px #000000;     /*Ayam Gunting Rasta shadow color */
    border-right: 4px solid #000000;      /* typing dot*/
    margin: auto;
    width: 27ch;
}

@keyframes typing{
    0%{
        width: 0ch;
        color: rgb(253, 0, 0);
    }
    0%{
        width: 5ch;
    }
}

@keyframes blink{
    0%{
    border-right: 4px solid rgb(0, 0, 0);
}
    100%{
        border-right: 4px solid rgb(255, 0, 0);
    }
}

.main-message h3{
    font-size: 4rem;
    color : rgb(255, 0, 0);
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

.btn{
    margin: 0 9px;
    background: rgb(222, 226, 0);
    border-radius: 2rem;
    color: #f30000;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px
}

.btn:hover{
    color: #ffcc00;
    background: rgb(255, 0, 0);
}

.scroll-down i{
    color: #ffd000;
    transition: color 650ms;
    margin-top: 2rem;
    font-size: 3.5rem;
}

.scroll-down i:hover{
    color: rgb(255, 0, 0);
}

.menu{
    text-align: center;
    width: 100%;
    height: 160vh;
    max-width: 70rem;
    margin: auto;
    background-color: #000000;
    padding: 4% 0;
}
.menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.menu-img{
    width: 20%;
    float: left;
}

.menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price{
    font-size: 2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
}

h4{
    font-size: 3rem;
    text-align: center;
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}

h2{
    text-align: center;
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}

.tab {
    overflow: hidden;
  }
  
  /* Style the menu buttons inside the tab */
  .tab button {
    background-color:#00ff08;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of  buttons on hover */
  .tab button:hover {
    background-color: rgb(255, 0, 0);
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: rgb(255, 0, 0);
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    border-top: none;
  }

hr{
    margin: 4rem 0;
    background-image: linear-gradient(
        to right,
        rgb(84, 14, 249) 0%,
        rgb(255, 255, 255) 100%
        );
        border: 0;
        height: 1px;
}

table{
    width: 90%;
    height: 90%;
    font-family: "Yanone Kaffeesatz", sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

th{
    background-color: rgb(12, 73, 55);
    font-weight: bold;
    font-size: 2.5rem;
    border: 1px solid rgb(18, 4, 68);
    border-radius: 2rem;
}

td{
    background-color: rgb(12, 50, 82);
    font-size: 2rem;
    border: 1px solid rgb(18, 4, 68);
    border-radius: 2rem;
}

.about{
    width: 100%;
    height: 100vh;
    max-width: 70rem;
    margin: auto;
}

.about .container{
    display: flex;
    align-items: center;
    min-height: 80vh;
}

.about-img img{
    height: 12rem;
    width: auto;
    border-radius: 50%;
    margin: 2rem;
    box-shadow: 0 20px 30px 0 rgba(255, 255, 255, 0.15);
}

.about-text-box{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.about-text-box h2{
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 4rem;
}

.about-text-box p{
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 2.5rem;
}

.contact{
    width: 100%;
    min-height: 50vh;
    max-width: 70rem;
    margin: auto;
    font-family: "Yanone Kaffeesatz", sans-serif;
    text-align: center;
}

.contact h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem;
}

.contact p{
    font-size: 2rem;
}

.contact-list{
    text-align: center;
    font-size: 2rem;
}

.contact .container{
    min-height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttonContainer{
    text-align: center;
}

.button{
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #51ff00;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(255, 238, 0);
  }

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #00ff08;
  box-shadow: 0 5px rgb(255, 0, 0);
  transform: translateY(4px);
}

footer{
    width: 100%;
    max-width: 70rem;
    margin: auto;
    padding: 2.5rem;
    color: #8a8a8a;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

footer a{
    color: rgba(3, 155, 155);
    margin: 0 0.2rem;
}

.td{
    width:20%
}

.order-box{
    width: 20%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.order-img{
    width: 20%;
    float: left;
}

.order-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.order-price{
    font-size: 2rem;
    margin: 2% 0;
}
.order-detail{
    font-size: 1rem;
    color: #747d8c;
}


@media (max-width: 665px) {
    .landing-page{
        background-size: autoauto;
    }
    
    .main-message{
        top: 70%;
    }
    .main-message h1{
        letter-spacing: 1rem;
        font-size: 2rem;
        width: 40ch;
    }
    .main-message h3{
        font-size: 2rem;
    }

    .btn{
        border-radius: 0.9rem;
        padding: 0.9rem 0.9rem;
    }
    .about-text-box h2{
        font-size: 2rem;
        margin-bottom: 20px;
    }
  
    .about-text-box p{
        font-size: 1.5rem;
        margin: 0 0 2.45rem;
    }

    .skills{
        background-size:contain;
    }

    .contact .container a,i{
        font-size: 1.2rem;
    }
  }